In [1]:
# Basic Import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
# Modelling
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
import warnings

In [2]:
df =pd.read_csv("C:/Users/Genesis/OneDrive/Desktop/Projects/Earthquake_Predictor/dataset/Japan_Earthquake_1920_2020.csv")
df.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2020-12-12T23:49:38.281Z,35.5552,138.6886,182.40,4.0,mb,NaN,108.0,0.968,0.56,...,2021-02-20T16:12:29.040Z,"7 km N of Fujikawaguchiko, Japan",earthquake,6.7,6.0,0.119,19.0,reviewed,us,us
1,2020-12-12T07:18:54.231Z,40.1213,142.0551,44.00,5.5,mww,NaN,69.0,1.008,0.66,...,2021-02-20T16:11:27.040Z,"53 km N of Miyako, Japan",earthquake,6.4,1.9,0.063,24.0,reviewed,us,us
2,2020-12-11T12:58:06.708Z,23.9426,125.3592,26.64,4.8,mb,NaN,98.0,2.206,0.70,...,2021-02-20T16:11:19.040Z,"95 km S of Hirara, Japan",earthquake,3.1,5.9,0.102,30.0,reviewed,us,us
3,2020-12-11T09:48:40.595Z,24.2994,125.2777,19.46,5.1,mww,NaN,75.0,2.073,0.66,...,2021-02-20T16:11:17.040Z,"southwestern Ryukyu Islands, Japan",earthquake,6.1,3.4,0.057,30.0,reviewed,us,us
4,2020-12-10T18:15:08.670Z,24.5390,122.0538,66.38,4.9,mww,NaN,32.0,0.554,1.04,...,2021-02-20T16:11:09.040Z,"38 km SE of Yilan, Taiwan",earthquake,5.7,4.5,0.098,10.0,reviewed,us,us

In [3]:
train_df = df[['time','latitude','longitude','depth','mag']]
train_df.head()

                       time  latitude  longitude   depth  mag
0  2020-12-12T23:49:38.281Z   35.5552   138.6886  182.40  4.0
1  2020-12-12T07:18:54.231Z   40.1213   142.0551   44.00  5.5
2  2020-12-11T12:58:06.708Z   23.9426   125.3592   26.64  4.8
3  2020-12-11T09:48:40.595Z   24.2994   125.2777   19.46  5.1
4  2020-12-10T18:15:08.670Z   24.5390   122.0538   66.38  4.9

In [4]:
X = train_df.drop(columns=['mag'],axis=1)
X

                           time  latitude  longitude   depth
0      2020-12-12T23:49:38.281Z   35.5552   138.6886  182.40
1      2020-12-12T07:18:54.231Z   40.1213   142.0551   44.00
2      2020-12-11T12:58:06.708Z   23.9426   125.3592   26.64
3      2020-12-11T09:48:40.595Z   24.2994   125.2777   19.46
4      2020-12-10T18:15:08.670Z   24.5390   122.0538   66.38
...                         ...       ...        ...     ...
50546  1922-09-14T19:31:42.000Z   24.3370   122.5470   25.00
50547  1922-05-15T20:21:31.000Z   41.1720   143.0540   30.00
50548  1921-04-02T09:36:53.000Z   23.8010   124.8290   15.00
50549  1921-01-02T07:06:35.000Z   43.9420   150.5010   35.00
50550  1920-10-20T10:02:22.000Z   24.5100   122.0030   15.00

[50551 rows x 4 columns]

In [5]:
y = train_df['mag']
y

0        4.0
1        5.5
2        4.8
3        5.1
4        4.9
        ...
50546    6.9
50547    6.5
50548    7.0
50549    6.3
50550    6.4
Name: mag, Length: 50551, dtype: float64